.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

header {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 20vh;
  width: 100%;
}

h1 {
  font-family: 'Londrina Solid', cursive;
  font-size: 64px;
  color: black;
}

a {
  text-decoration: none;
}

main {
  height: 80vh;
  width: 100%;
}

body {
  background-image: url('../assets/wheatField.png');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

button {
  background-color: #6f4404;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  color: #FFAA00;
  border: 1px solid #FFAA00;
  border-radius: 150px;;
  padding: 3px 10px;
}

button:hover {
  background-color: #FFAA00;
  color: #6f4404;
  transform: scale(1.05);
  cursor: pointer;
}

.cute {
  font-family: 'Londrina Outline', cursive;
  font-size: 64px;
}
