.farm-browse-view {
  display: flex;
  flex-direction: column;

  height: 80vh;
  width: 100%;
}

.farms-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5%;
  height: 100%;
  width: 100%;
  padding-bottom: 15px;
}

.farm-result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  margin: 10px;

  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  width: 50%;
  padding: 3%;
}

.view-farm-btn {
  background-color: #6f4404;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  color: #FFAA00;
  border: 1px solid #FFAA00;
  border-radius: 150px;;
  padding: 3px 10px;
}

.view-farm-btn:hover {
  background-color: #FFAA00;
  color: #6f4404;
  transform: scale(1.05);
  cursor: pointer;
}

.loading-message {
  text-align: center;
  color: white;
  margin-top: 15px;
  font-size: 36px;
}
