.wheat-icon,
.stats-icon,
.barn-icon {
  height: 30px;
  width: 30px;
}

.stats-icon,
.barn-icon {
  margin-right: 10px;
}

.grain-result {
  font-family: Raleway, sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr .5fr;
  justify-items: start;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #EBE1DB;
  margin: 10px;

  height: 12vh;
  width: 90%;
}

.grain-name {
  font-family: Montserrat;
  color: #6f4404;
  display: flex;
  font-size: 1.2em;
  white-space: nowrap;
  align-items: center;
  margin-left: 10px;
}

.grain-stats {
  display: flex;
  white-space: nowrap;
  text-align: right;
  align-items: center;
  justify-content: space-between;
}

.farmer-stats {
  display: flex;
  white-space: nowrap;
  align-items: center;
}

.stat-number {
  font-family: inherit;
  font-size: inherit;
}

.grain-card-stub {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}
