.ReactModal__Content {
  inset: 100px;
}

.new-grain-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 60vh;
  width: 100%;
}

.new-grain-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;

  height: 80%;
  width: 70%;
  margin: 2%;
}

.new-grain-input {
  width: 50%;
}

.close-modal-btn:hover {
  background-color: #BF2323;
  color: white;
  border: 1px solid #BF2323;
}
