.new-profile-form {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 80vh;
  width: 100%;
}

.new-farm-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;

  height: 80%;
  width: 50%;
  margin: 6%;
}

.new-farm-form-input {
  width: 75%;
  font-size: 18px;
  padding: 2px;
}

.profile-submit-btn {
  background-color: #6f4404;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  color: #da9100;
  border: 1px solid #da9100;
  border-radius: 150px;;
  padding: 3px 10px;
}

.profile-submit-btn:hover {
  background-color: #da9100;
  color: #6f4404;
  transform: scale(1.05);
}
